################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/libmpv/csharp/obj/Debug
/libmpv/csharp/.vs/WinForm/v14
/libmpv/csharp/bin/Debug
